<!-- views/partials/navbar.handlebars -->

<nav class="navbar navbar-default">

    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Reddit.js
            </a>

        </div>

        <div class="pull-right">
            <ul class="nav navbar-nav navbar-right">
      <li><a href="/a/logout">Logout</a></li>
      <li><a href="/a/login">Login</a></li>
      <li><a href="/a/sign-up">Sign Up</a></li>
    </ul>
            <a href="/posts/new" class="btn btn-primary navbar-btn">
                New Post
            </a>
        </div>

    </div>

</nav>
