<!-- views/partials/navbar.handlebars -->

<nav class="navbar navbar-default">

    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Reddit.js
            </a>
        </div>

        <div class="pull-right">
            <a href="/posts/new" class="btn btn-primary navbar-btn">
                New Post
            </a>
        </div>

    </div>

</nav>
